button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 25px;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 350px;
    height: auto;

}

.screen {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    justify-content: center;
    padding: 2px;
    width: auto;
    height: 75px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px 25px;
}

#line-one {
    flex: 1;
    text-align: right;
}

.row-one,
.row-two,
.row-three,
.row-four,
.row-five {
    display: flex;
    margin: 20px 25px;
    justify-content: space-between;
}