.calculator {
    display: flex;
    flex-direction: column;
}

.screen {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100px;
    border: 2px solid black;
}

#line-one,
#line-two {
    flex: 1;
    text-align: right;
}

.row-one,
.row-two,
.row-three,
.row-four,
.row-five {
    display: flex;
}